.footer_ul_icons {
    list-style: none;
    padding: 0;
}

.footer_ul_icons li i {

    padding: 0 10px 0 0;
}

.footer_ul_icons li {
    padding: 5px 0;
    cursor: pointer;
    color: rgb(73, 73, 78);
}

.footer_ul_icons li:hover {
    color: rgb(153, 131, 131) !important;
}
.cursor_pointer{
    cursor: pointer;
}
#footer {
    font-family: Arial, Helvetica, sans-serif
}

.bg_footer_bottom {
    color: #666;
    background-color: rgb(251 248 249);
}
.a{
    text-decoration: none;
    
}